<div class="ac-tab ac-container ac-container--offset-md" id="salon-services">
  {% if section.settings.heading != blank %}
    <h2 class="ac-tab__title" >{{section.settings.heading}}</h2>
  {% endif %}
  <div class="ac-tabs ac-block--center">
    {% for block in section.blocks %}
        {% if block.settings.cta-tab != blank %}
          <button class="ac-button ac-tab__button" onclick="openTab(event, 'tab-{{ block.id }}')">{{ block.settings.cta-tab }}</button>
        {% endif %}
    {% endfor %}
  </div>
  {% if section.settings.subheading != blank %}
    <p class="ac-tab__text ac-text--sm ac-block--center ac-offset__bottom-lg">{{ section.settings.subheading }}</p>
  {% endif %}
      
  {% for block in section.blocks %}
    <div class="ac-tab__content" id="tab-{{ block.id }}">
       {% if block.settings.sub-heading != blank %}
          <p class="ac-tab__text ac-text--sm ac-block--center ac-offset__bottom-lg ac-container--mobile">{{ block.settings.sub-heading }}</p>
        {% endif %}
       <div class="ac-section--double-half"> 
         <div class="ac-content__box--column ac-content__box--half">
           {% render 'image-fluid', image: block.settings.image, wrapper_class: 'ac-image__wrap ac-tab__image' %}
           {% if block.settings.note != blank %}
                <p class="ac-tab-content__text--note ac-block--mobile ac-offset--top-sm">{{block.settings.note}}</p>
            {% endif %}
         </div>
      
          <div class="ac-content__box--column ac-tab-content__info ac-content__box--half">
            <div class="ac-tab-content-info__item">
              {% if block.settings.title_1 != blank %}
                  <h3 class="ac-tab-content__title">{{block.settings.title_1}}</h3>
              {% endif %}
              {% if block.settings.text_1 != blank %}
                  <p class="ac-tab-content__text ac-text--sm ac-offset__bottom-lg" >{{block.settings.text_1}}</p>
              {% endif %}
            </div>
            <div class="ac-tab-content-info__item">
              {% if block.settings.title_2 != blank %}
                  <h3 class="ac-tab-content__title">{{block.settings.title_2}}</h3>
              {% endif %}
              {% if block.settings.text_2 != blank %}
                  <p class="ac-tab-content__text ac-text--sm ac-offset__bottom-lg" >{{block.settings.text_2}}</p>
              {% endif %}
            </div>
            <div class="ac-tab-content-info__item">
              {% if block.settings.title_3 != blank %}
                  <h3 class="ac-tab-content__title">{{block.settings.title_3}}</h3>
              {% endif %}
              {% if block.settings.text_3 != blank %}
                  <p class="ac-tab-content__text ac-text--sm ac-offset__bottom-lg" >{{block.settings.text_3}}</p>
              {% endif %}
            </div>
            {% if block.settings.note != blank %}
                <p class="ac-tab-content__text--note ac-block--desktop">{{block.settings.note}}</p>
            {% endif %}
          </div>
        </div>
    </div>
  {% endfor %}
</div>
  
<style>
  .ac-tab {
    display: flex;
    flex-direction: column;
  }
  .ac-tabs {
    display: inline-flex;
    margin-bottom: 24px;
  }

  .ac-tab__button.ac-tab__button {
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 206px;
    width: 100%;
    font-family: "Founders Grotesk Mono";
    color: #000;
  }
  .ac-tab__button:first-of-type {
    border-radius: 26.25px 0px 0px 26.25px;
  }
  .ac-tab__button:last-of-type {
    border-radius: 0 26.25px 26.25px 0; 
  }
  .ac-tab__button:hover,
  .ac-tab__button:focus,
  .ac-tab__button.active {
    color: #FEFAF0;
    background-color: #000;
  }

  .ac-tab__content {
    display: none;
    flex-direction: column;
  }

  .ac-tab__title.ac-tab__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  
  .ac-tab-content__info  {
    padding-left: 7vw;
  }
  .ac-tab-content__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    text-transform: lowercase;
    margin-bottom: 4px;
  }
  .ac-tab__text {
    max-width: 840px
  }
  .ac-tab__text,
  .ac-tab-content__text {
    text-transform: lowercase;
  }
  .ac-tab-content__text--note {
    font-size: 10px;
    line-height: 15px;
  }

  @media screen and (max-width: 767.98px) {
    .ac-tab__title.ac-tab__title {
      margin-bottom: 16px;
    }
    .ac-tab-content__title {
      font-size: 36px;
    }
    .ac-tab-content__info {
      flex-direction: row!important;
      column-gap: 40px;
      padding-left: 0;
      margin-bottom: 20px;
    }
    .ac-tab-content-info__item:last-of-type {
      display: none;
    }
    .ac-tab-content__info {
      order: -1;
    }
    .ac-tab-content__text {
      margin-bottom: 10px!important;
    }
  }
  
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    openTab(null, 'tab-{{ section.blocks.first.id }}');
  });
  
  function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("ac-tab__content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("ac-tab__button");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].classList.remove("active");
      }
      document.getElementById(tabName).style.display = "flex";
      if (evt) {
        evt.currentTarget.classList.add("active");
      } else {
        if (tablinks.length > 0) {
          tablinks[0].classList.add("active");
        }
      }
    }
</script>

{% schema %}
{
  "name": "Tabs width Image and Text",
  "class": "shopify-section--offset-lg",
  "blocks": [
        {
        "type": "tab",
        "name": "Tab",
        "settings": [
            {
                "type": "text",
                "id": "sub-heading",
                "label": "Sub heading"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
              "type": "text",
              "id": "cta-tab",
              "label": "CTA Text",
              "default": "Tab"
            },
            {
                "type": "text",
                "id": "title_1",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "text_1",
                "label": "Description"
            },
               {
                "type": "text",
                "id": "title_2",
                "label": "Title 2"
            },
            {
                "type": "text",
                "id": "text_2",
                "label": "Description 2"
            },
               {
                "type": "text",
                "id": "title_3",
                "label": "Title 3"
            },
            {
                "type": "text",
                "id": "text_3",
                "label": "Description 3"
            },
            {
                "type": "text",
                "id": "note",
                "label": "Note"
            }
        ]
     }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sab Title"
    }
  ]
}

{% endschema %}